{% extends 'newsagency/default.html' %}
{% block content %}
    <div>
    <h3>Подписка</h3>
    </div>
    <p>Вы подписаны на статьи из категории - <a href="{% url 'category_list' category.id %}"> {{category}}</a></p>
    <small>Благодаря этому теперь вы будете получать еженедельный обзор новых материалов на ваш email.</small>
    <br>
    <br>
    <br>

    {% if 'is_subscriber' %}
        <button class="btn"><a href="{% url 'unsubscribe' category.id %} ">Отписаться от рассылки</a></button>
    {% endif %}
{% endblock content %}