<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>News Agency</title>
    {% load static %}
    <!-- Favicon-->

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href={% static 'styles.css' %} rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">News Agency</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
{#                {% for cat in post.PostCategory.all %}#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{% url 'category_list' cat.id %}">{{ cat.name }}</a></li>#}
{#                {% endfor %}#}


                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/posts/category/1/">Город</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/posts/category/4/">Мероприятия</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/posts/category/2/">Транспорт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/posts/category/3/">Природа</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/posts/category/5/">Забавное</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
{% block content %}
    {{ flatpage.content }}
{% endblock content %}
            </div>
        </div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'scripts.js' %}"></script>
</body>
</html>